header{
    display:block;
    width:80%;
    margin:auto;
}

nav {
  a{
  color:#083452;
  text-decoration:none;
  transition:.2s all;
  text-transform:uppercase;

    &:hover{
        color:white;
    }
  }

  li{
      display:inline;
  }
  
  img{
      vertical-align:middle;
  }
}

.logo{
  float:left;
  padding-top:1%;

  img {
      padding-right: 10px;
      width:50px;
  }
}

header ul.navigation{
  float:right;
  padding-top:2%;

  li {
      padding-left: 20px;
      font-family: 'Oswald', sans-serif;
  }
}
